.cards > ul {
  list-style: none;
  margin: 4rem 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
  display: flex;
  align-items: center;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-body h4 {
  margin: 0;
}

.cards .cards-card-image {
  line-height: 0;
  flex: 0 0 20%;
  height: 100px;
}

.cards .cards-card-image picture {}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
