footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
  background: -webkit-gradient(linear, right top, left top, from(#fff), color-stop(80%, #f7f6f5));
    background: linear-gradient(270deg, #fff, #f7f6f5 80%);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  color: var(--link-color);
}

footer .footer .columns > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .footer .columns > div p {
  display: inline-block;
  color: var(--link-color);
}

footer .footer .columns > div p a {
  background: transparent;
  color: black;
  color: var(--link-color);
  padding: 0;
}

footer .footer .columns .columns-img-col {
  margin-left: auto;
  flex: 0 0 auto;
}

footer .footer .columns > div picture {
  max-width: 239px;
  height: auto;
  display: block;
}

footer .footer .columns > div picture img {
  height: auto;
}